.home {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.cursor {
  cursor: 'pointer';
  margin-bottom: 0px;
}

.tasks {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .home {
    width: 60%;
    height: 98vh;
    margin: 0 auto;
    position: relative;
    border: 2px solid darkgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .formInput {
    width: 60%;
    margin-left: 20px;
    margin-right: 20px;
  }
}
